@import url('https://fonts.googleapis.com/css?family=Poppins:400;500;700');
html, body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222; 
    margin: 0;
    
}

*::after{
    
    box-sizing:border-box;
}
/*navbar*/

.navbar{
    padding: .8rem;
}

.navbar li{
    padding-right: 1.25rem;
  
}

.nav-link{
 font-size: 1.1em !important; 
    color:darkslategrey;
    
}
.nav-link:hover{
    color:darkred;
}

.carousel-inner img{
   width:100%;
    height: 100%;
}
.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY()
}

.carousel-caption h5{
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000;
}
.jumbotron{
    padding: 1rem;
    border-radius: 0;
}
.lead{
    font-size: 1.2rem;
}
.navbar-toggler-icon{
   color: black;
}
.padding{
    padding-bottom: 2rem;
}
.welcome{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.welcome hr{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.fa-code, .fa-star{
    font-size: 4em;
    color:crimson;
    margin: 1rem;
}

.social a {
    font-size: 4.5em;
    padding: 3rem;
}
.fa-facebook-square{
    color: #3b5998;
}
.fa-github-square{
    color: black;
}
.fa-google-plus-square{
    color: #dd4b39;
}
.fa-twitter-square{
    color: #00aced;
}

.fa-facebook-square:hover,
.fa-google-plus-square:hover,
.fa-github-square:hover,
.fa-twitter-square:hover{
    color: #d5d5d5;
}

footer{
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}
hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem
}

hr.light-100{
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem
}
footer a{
    color: #d5d5d5;
}
/*---Media Queries --*/
@media (max-width: 992px) {
    .social a{
        font-size: 4em;
        padding: 2rem;
    }
  }
@media (max-width: 768px) {
    .carousel-caption{
        top: 45%;
    }
    .carousel-caption h5{
        font-size: 350%;
    }
    .displa-4{
        font-size: 200%;
    }
    .social a{
        font-size: 2.5em;
        padding: 1.2rem;
    }
}
@media (max-width: 576px) {
  .carousel-caption{
        top: 40%;
    }
    .carousel-caption h5{
        font-size: 250%;
    }
    .carousel-indicators{
        display: none;
    }
     .displa-4{
        font-size: 160%;
    }
    .social a{
        font-size: 2em;
        padding: .7rem;
    }
}

.fa-bars{
    font-size: 1.5rem;
}

